body 
{
    background-color: black;
    color: white;
}

topBar-leftcontent
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 1.9%;
    margin-right: 0.5%;
    margin-top: 16px; 
    margin-bottom: 2%;
}

.topBarText
{
    font-family: "Jura";
    color: #FF0099; 
    padding: 0 12px;
    margin-top: -3px;
    font-size: 165%;
    text-decoration: none;
    transition: color 0.19s ease;
    transition: transform 0.18s ease;
}

.topBarTextSelect
{
    font-family: "Jura";
    color: white; 
    padding: 0 12px;
    margin-top: -3px;
    font-size: 165%;
    text-decoration: none;
    transition: color 0.19s ease;
    transition: transform 0.18s ease;
}

.topBarText:hover
{
    color: white;
    transform: scale(1.05)
}

.topBarText:active
{
    transform: scale(0.85);
    color: white;
}


.imgLogo
{
    width: 156px;
    height: auto;
    margin-top: 4px;
    transition: transform 0.17s ease;
    margin-right: auto;
}

.imgLogo:hover
{
    transform: scale(1.07);
}

.imgLogo:active
{
    transform: scale(0.83)
}

sloganContainer
{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-items: center;
    align-items: center;
    height: auto;
    margin-top: 160px;
    margin-left: 12%;
    grid-auto-flow: row;
}

.imgSlogan
{
    max-width: 50%;
    height: auto;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.imgSlogan:hover
{
    transform: scale(1.09);
}

.imgSlogan:active
{
    transform: scale(0.85);
}

.sloganText
{
    font-family: "K2D";
    color: white; 
    font-size: 200%;
}

.atensionText
{
    color: #FF0099;
}

.atensionTextSlogan
{
    animation: changeAtensionTextSloganColor 1.5s forwards;
}

@keyframes changeAtensionTextSloganColor
{
    0% {color: white; }
    100% { color: #FF0099; }
}

.Beautyful-Button-Download
{
    border-radius: 12px;
    background-color: transparent;
    border-color: #FF0099;
    border-style: solid;
    width: 260px;
    height: 50px;
    color: white;
    border-width: 4px;
    font-size: 20px;
    font-family: "Inter";
    cursor: pointer;
    transition: border-color 0.15s ease;
    transition: transform 0.18s ease;
}

.Beautyful-Button-Download:hover
{
    border-color: white;
    transform: scale(1.04);
}

.Beautyful-Button-Donate
{
    border-radius: 10px;
    background-color: transparent;
    border-color: #FF0099;
    border-style: solid;
    max-width: 20%;
    height: 40px;
    color: white;
    border-width: 3px;
    font-size: 18px;
    font-family: "Inter";
    cursor: pointer;
    transition: border-color 0.15s ease;
    transition: transform 0.15s ease;
    margin-left: auto;
    overflow: hidden;
}

.Beautyful-Button-Donate:hover
{
    border-color: white;
    transform: scale(1.06);
}


DownloadContainer
{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 5% 11%;
    padding-top: 20%;
    width: 10%;
    height: 10%;
}

welcome-Content
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 800px;
}

short-info-Content
{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 135px;
}

.engine-text-short-info
{
    font-family: "K2D";
    font-size: 145%;
    text-align: center;
}

.imgDiscordLogo
{
    width: 240px;
    height: auto;
    transition: transform 0.19s ease;
}

.imgDiscordLogo:hover
{
    transform: scale(1.08);
}

info-Community
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 105px
}
.maid-community
{
    font-family: "K2D";
    font-size: 155%;
    text-align: center;
}

select
{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0px solid #FF0099;
    background-color: transparent;
    font-family: "Jura";
    font-size: 22px;
    color: #FF0099;
    text-align: center;
    cursor: pointer;
    transition: transform 0.15s ease;
    width: auto;
    padding-left: 10px;
}

select option
{
    background-color: black;
}

select:hover
{
    transform: scale(1.06);
}


footer
{
    font-family: "Inter";
    font-size: 13px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}
